<section class="header13 cid-szglUNc7iI mbr-fullscreen mbr-parallax-background" id="header13-p">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(101, 146, 230);"></div>
    <div class="align-center container-fluid">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong><br></strong><br><br><br><br><br>UNLOCK THE VALUE OF YOUR REAL ESTATE</h1>                                    </div>
        </div>
    </div>
</section>

<section class="features3 cid-szdLSPPHbG" id="features3-o">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Features</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/mbr-696x348.jpg" alt="blockchain immutable ledger">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>Immutable Ledger</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Public blockchain based on Proof of Stake enables consensus based&nbsp; immutable ledger which with progress of time can hold data that cannot be tampered with. Since it is distributed and decentralised there is no single entity that controls this. Hence you are more secure that a single authority be it government or corporate can tamper with the data.</p>
                    </div>
                    
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/mbr-3-696x464.jpg" alt="artwork">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>Real Estate Auctions</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We now enable partial ownership of prime real estate, so that it is easy for owners to release some of the value of their assets and use it for their personal purpose especially when they need it, without the necessity of selling off their entire asset.</p>
                    </div>
                    
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/mbr-1-696x464.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>Real Estate Deeds</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We are creating a portal to create digital signature of documents signifying real estate deeds and issuing tokens on Cardano chain. These are the Non-fungible tokens for real estate, where a person can upload all his ownership documents and then use the tokens to monetize his hard asset when needed.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features20 cid-szgwa1jQ9u" id="features21-q">

    
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="card-wrapper mb-4">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Roadmap</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">REIT is now going on a journey to unlock the value of real estate assets. Focus will be&nbsp;</p>
                        <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="https://mobiri.se">Conception and Formation</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="item mbr-flex">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">1</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                            <strong>Cardano launches And we start creating a platform to issue NFT in real time</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">We want to democratise the world of finance using blockchain technology. All real world assets and exchange of value can happen via this platform, starting with tokenising of identity and assets. Now we do not need to rely on central authority to issue immutable assets. The trust is taken over by the chain and we now can find out innovative ways to interact with our real world assets. This NFT platform is the step in that direction with native assets as tokens being issued on Cardano.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">2</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Introduction of DID (Decentralized Identity) on chain&nbsp;</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Till now we have been relying on major social networks (like Google, Facebook, Twitter, Github, LinkedIn)and oAuth2 providers to provide us means to store our identity on the web and they have been using our information to track us everywhere. Now we will introduce a way to provide digital passport on Cardano via which the assets will be tied to the issuer. But now you will own. your identity and no one can use that identity for marketing and other purpose till you give them explicit consent.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">3</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Introduce integration with web based wallet such as Yoroi</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">We want to make it easier for corporates and individuals to protect themselves from fraud and for this easiest way is to store and interact directly with their wallets in an easy and hassle free way. It also removes the necessity of people to copy / paste their address on the site for getting their minted tokens, thus making the whole process fool proof and stress free.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">4</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                            <strong>PUBLIC ISSUANCE OF REIT TOKENS</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Issue our own tokens and decentralise the entire application in order to enable the larger Cardano ecosystem participate in this revolution, especially the node operators who are helping on a daily basis to run the Proof of Stake blockchain ecosystem and enable them to generate more income in the process. It will also help the pool delegators to diversify into real world assets if they wish to participate in this ecosystem.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">5</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Smart Contract Introduction</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Right now on chain Smart contract has not yet been introduced. We will use these contracts to enable the various marketplace activities such as auctions without the need of intermediary such as notary and other government entities.</h5>
                    </div>
                </div>
                <div class="item mbr-flex last">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">6</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                            <strong>Marketplace creation, Decentralisation &amp; Further expansion</strong></h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">A creation of a marketplace where owners and investors can come together and exchange value in REIT tokens issued as part of NFT creation. A global decentralised ecosystem allows value exchange using real estate assets.</h5>
                    </div>
                </div>
                
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="features23 cid-szdLyZA0XI" id="features24-l">

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card-wrapper mb-4">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>Steps</strong>
                        </h4>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item first mbr-flex p-4">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">1</span>
                        </div>
                    </div>

                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Register Online</strong></h4>
                        <h5 class="mbr-text mbr-black mbr-fonts-style display-4">We will create your onchain identity that the person can use when he uses the platform. Initially we will use normal email based identity to be later put on chain as DID (Decentralised identifier)&nbsp;</h5>
                    </div>
                </div>
                <!-- <span mbr-icon class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span> -->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item mbr-flex p-4">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">2</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                            <strong>Upload Images/Documents</strong></h4>
                        <h5 class="mbr-text mbr-black mbr-fonts-style display-4">Upload the documents that needs to be tokenised. We will guide you with the process. No worries.</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item mbr-flex p-4">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">3</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7"><strong>Issue tokens</strong></h4>
                        <h5 class="mbr-text mbr-black mbr-fonts-style display-4">This platform will help you to issue tokens using the on-chain identity (initially off-chain) coupled to the digital signature of the documents. Marketplace will finally determine what the value of these issued tokens are (if you want to sell the items issued)</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="item mbr-flex p-4">
                    <div class="icon-wrap w-100">
                        <div class="icon-box">
                            <span class="step-number mbr-fonts-style display-5">4</span>
                        </div>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style display-7">
                            <strong>Marketplace Auctions</strong></h4>
                        <h5 class="mbr-text mbr-black mbr-fonts-style display-4">REIT token is perfect instrument to unlock partial value of the real estate by enabling local real estate agents to buy/sell houses via these tokens. This will be facilitated by the Marketplace.</h5>
                    </div>
                </div>
            </div>
            
            
            
            
        </div>
    </div>
</section>

<section class="team1 cid-szdLF92mPh" id="team1-n">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Our team</strong>
                </h3>
                
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-696x571.png" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Nilay Saha</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4"><strong>CTO</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">With 20+ years of experience in various multinational companies such as ASML, Plaxis, Audi, Hilti. A graduate of IIT Kharagpur, India. Also a&nbsp; serial entrepreneur and now working on research driven blockchain such as Cardano.</p>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/mbr-2-696x464.jpg" alt="">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Anurag Gupta</strong></h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>CEO</strong></h6>
                        <p class="card-text mbr-fonts-style align-center display-7">Also with 20+ years of tech experience and worked in senior positions at Google. Holder of 40+ international patents in the field of Optics. And a graduate of IIT Kanpur. Currently guiding tech startups in the silicon valley using his enthusiasm and charm.</p>
                        
                        
                    </div>
                </div>
            </div>

            

            
        </div>
    </div>
</section>

<section class="form7 cid-szgOG8B84K" id="form7-t">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Get in Touch</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="N8NenEzdd7XtYLIKoz4dY48PE+NzDkxxYC9o707u2ldJtPGmXLbwfML0I0WLOsGPLGWzb7BgkwEsRz5PiSU7o2NZ4vTdYufe3sBTjh8ZjF/bDW5rH7btSTbc+auVk7iT">
                    <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                        Send us a message with brief description of what you would like to know. We will soon be in touch.</p>
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form7-t">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-form7-t">
                        </div>
                        <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone" class="form-control" value="" id="phone-form7-t">
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<section class="footer3 cid-s48P1Icc8J mbr-reveal" once="footers" id="footer3-i">  
  <div class="container">
	<div class="media-container-row align-center mbr-white">                    
	  <div class="row row-copirayt">
            <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
              © Copyright 2021 nft.oef.io. All Rights Reserved.
            </p>
	  </div>
	</div>
  </div>
</section>

