[Unit]
Description=cardano-submit-api  

[Service]
User=nsaha
Group=nsaha
TimeoutStartSec=300
Type=simple
KillMode=process
Environment=LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH":
WorkingDirectory=/home/nsaha/projects/cardano/cardano-scripts/exec
ExecStart=/home/nsaha/projects/cardano-scripts/src/cardano-submit-api/start.sh
ExecStop=/usr/bin/pkill -2 cardano-submi-api
Restart=always
RestartSec=5s

[Service]
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target