<div class="container">
  <div class="page-header">
    <div class="jumbotron text-center">
      <h1>NFT Minting Platform on Cardano</h1>
    </div>
  </div>

  <div class="toolbar" role="banner">
    Welcome to this NFT minting platform on cardano. Hosted by the folks at <a href="https://lkbh-pools.org">LKBH Stake Pool.</a> For the community, by the community. Currently being run on testnet of Cardano.<p style="color:red;"><b>Beta Version</b></p>

  </div>

  <br/>
  <mat-divider></mat-divider>
  <br/>

  <div class="view overlay">
     <div class="text-center"> 
       <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" class="img-fluid" alt="Sample image with waves effect.">
       <a>
	 <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div>
       </a>
       </div>
  </div>
  
  <app-gnft></app-gnft>

</div>
