<nav class=" navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1> REGISTER YOUR ASSETS ON IMMUTABLE LEDGER OF CARDANO</h1>
    </a>
  </div>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NFT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Roadmap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Marketplace</a>
    </li>
  </ul>
</nav>


<div class="container">
  <div class="text-center mt-5" role="banner">
    Welcome to this NFT minting platform on Cardano. Hosted by the folks at <a href="https://lkbh-pools.org">LKBH Stake Pool.</a> For the community, by the community. Currently being run on testnet of Cardano.<p style="color:red;"><b>Beta Version</b></p>
  </div>

  <br/>
  <mat-divider></mat-divider>
  <br/>

  <!-- <div class="view overlay"> -->
    <!--    <div class="text-center">  -->
      <!--      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" class="img-fluid" alt="Sample image with waves effect."> -->
      <!--      <a> -->
	<!-- 	 <div class="mask waves-effect rgba-white-slight" mdbWavesEffect></div> -->
	<!--      </a> -->
      <!--      </div> -->
    <!-- </div> -->
  
  <app-gnft></app-gnft>

</div>


