[Unit]
Description=Ogmios server

[Service]
User=nsaha
Group=nsaha
TimeoutStartSec=300
Type=simple
KillMode=process
Environment=LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH":
WorkingDirectory=/home/nsaha/projects/cportal-be/services/mint/server
ExecStart=/home/nsaha/projects/cportal-be/services/mint/run_ogmios.sh
ExecStop=/usr/bin/pkill -15 node
Restart=always
RestartSec=5s

[Service]
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target