<section class="content14 cid-szusFsp7tN mbr-fullscreen mbr-parallax-background" id="content14-y">
    
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-5">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>Frequently asked questions</strong>
                    </h3>
                <ul class="list mbr-fonts-style display-7">
                    <li><strong>From when can we register our real estate on this platform to raise funding ?&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong><span style="font-size: 1.2rem;">Please subscribe to our newsletter and we will keep you updated about the latest news including rollout of the first property registration</span></li>
                    <li><strong>Can I register a commerical projects ?</strong><br>Yes, DoneReit is for any real estate object be it individual or multi tenant property.</li>
                    <li><strong>Do I need to go to a notary or government authority to do the handover of the property ?</strong><br>Open the main menu in the app and find the
                        Extensions
                        tab. Click on it to open the Extensions list.</li>
                    <li><strong>Crypto is very new for me. How can i learn more about how to exchange my house for tokens?
                        </strong><br>We are there to make the process as simple as possible. Once you are interested in raising funds against your own real estate we will provide enough guidance to make the process simple and stress free.</li>
                    <li><strong>How long would it take for me to raise funding via this platform?<br></strong>It depends on several factors like the location, desirability of the property, upkeep and maintenance of the property. But you need not worry. We will have our experts contact and work with you to get started. Normally process should not take more than few weeks but it all depends on case to case.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-s48P1Icc8J mbr-reveal" once="footers" id="footer3-x">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2021 nft.oef.io. Email: lkbhpools@gmail.com All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>
